body{
    text-align: center;
}
select, button{
    width: 300px;
}

table{
    border: 0;
    position: center;
    margin: 0 auto;
}
th{
    background-color: grey;
    color: whitesmoke;
}
tr:nth-child(odd) td{
    background-color: lightgray;
}
td{
    padding: 0 0.5em;
}

